@import '~bootstrap/dist/css/bootstrap.css';

html {
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html, body, #index {
  height: 100%;
  margin: 0;
  background-color: unset;
}
.cont {
  display: flex;
  height: calc(100% - 50px); 
}

.main {
  overflow-y: scroll;
  height:100%;
  width: 100%;
  padding: 15px 15px 0 15px;
}

$width-login: 400px;

.tfg-login-page {
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; 
  height: 100%;
}

.tfg-login {
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  background-color: rgba(255,255,255, 1);
  padding: 15px 20px;
  border-radius: 15px;
  // position: fixed;
  width: $width-login;
  // top: calc(50% - 100px);
  // left: calc(50% - 200px);
  .tfg-buttons {
    display: flex;
    justify-content: space-between
  }
}

.tfg-card {
 

  &__heading {
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    background-color: #c0c0c0;
    color: white;
    font-size: 22px;
    font-weight: 700;
  }

  &__body {
    padding: 10px 20px;
    background-color: white;
  }
}
